#featured {

  .card {

    &.medium {
      height: 310px;
    }

    &.small {
      height: 265px;
    }
  }

  .row {
    margin-bottom: 0;
  }

  .callout {

    .card-content {
      margin-top: -1.2rem;
    }
  }

  /*background-image: url("../img/header.png");
  background-size: cover;
  background-position: center center;*/
}
