#feed {
  background: white;
}

.card.story {
  margin-top: calc(80px + .5rem);

  .row {
    margin-bottom: 10px;
  }

  .read-btn {
    margin-left: calc(1.5rem + 5px);
    margin-top: 2rem;

    span {
      margin-right: 1.05rem;
      font-style: italic;
    }
  }

  .tags {
    margin-top: 1.6rem;

  }

  .card-image {
    z-index: 10;
    position: absolute;
    max-width: 170px;
    border-radius: 100%;
    padding: 3px;
    background: white;
    left: 27px;
    top: -80px;

    .photo, img:not(.type-img-mob) {
      border-radius: 100%;
    }

    .img-badge {
      position: absolute;
      z-index: 20;
      background: white;
      padding: 2px;
      border-radius: 100%;

      .btn-floating {
        cursor: default;
      }

      &:nth-of-type(1) {
        bottom: 5px;
        right: 13px;
      }

      &:nth-of-type(2) {
        bottom: 45px;
        right: -13px;
      }
    }

    .type-img-mob {
      position: absolute;
      right: -170px;
      left: auto;
      top: -35px;
      width: 120px;

      &.story-type {
        width: 145px;
        right: -190px;
      }
    }
  }

  .person {
    position: absolute;
    top: 20px;
    left: 240px;
    right: 24px;

    .name {
      font-size: 2rem;
    }

    .city {
      margin-left: 1rem;
      font-style: italic;
      font-size: 1rem;
      color: #757575;
    }
  }

  .title {
    margin-top: calc(80px + .5rem);
    font-size: 1.7rem;

    a {
      transition: border-color .1s ease-in-out;
    }

    a, a:active, a:link {
      color: rgba(0,0,0,0.87);
      border-bottom: 1px solid #e9e9e9;
    }

    a:hover, a:focus {
      border-color: rgba(0,0,0,0.5);
    }
  }

  .name-wrapper {
    display: flex;
    align-items: baseline;
  }

  blockquote {
    margin-top: 80px;
    font-size: 1.5rem;
    font-style: italic;
  }

  .card-content {
    padding-bottom: calc(24px - .65rem);
  }


  &.my-card {

    blockquote {
      margin-top: calc(80px + .8rem);
    }

    .read-btn {
      margin-left: 0;
      margin-top: .15rem;
      margin-bottom: 10px;
    }
  }
}

.article {

  & + .article {
    margin-top: 3.5rem;
  }

  .type-img {
    margin-top: 7rem;
  }
}

.article-feed {
  margin-top: 2.5rem;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



.contact-social-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4rem;

  .c-title {
    margin-top: 0;
    margin-bottom: 0;
  }

  .contact-social {
    display: flex;

    .social {
      margin-left: 2rem;
      background: white;

      & + .social {
        margin-left: 10px;
      }

      a { color: #424242;}
    }

  }
}


// med and down
@media only screen and (max-width: 992px) {

  .row .col.story-card-col {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .story.card {

    .title {
      //margin-top: calc(85px + .5rem);
      font-size: 1.55rem;
    }

    blockquote {
      //margin-top: 105px;
      font-size: 1.3rem;
    }

    .tags .chip {
      font-size: .85rem;
    }

    .read-btn {
      margin-left: 0;
    }
  }

  .discover-btn {
    height: 45px;
    line-height: 45px;
    font-size: .95rem;
  }
}

@media only screen and (max-width: 710px) {

  .story.card {

    .name-wrapper {
      flex-direction: column;
      margin-bottom: .85rem;
    }

    .person {

      .city {
        margin-top: .75rem;
        margin-left: 0;
      }

      .name {
        margin-right: 1rem;
        margin-bottom: -.85rem;
      }
    }

    .title {
      margin-top: calc(85px + .5rem);
    }

    blockquote {
      margin-top: 105px;
    }

    .read-btn {

      .btn-small {
        height: 28px;
        line-height: 28px;

        i {
          font-size: 1rem;
        }
      }
    }
  }
}


// sm and down
@media only screen and (max-width: 600px) {

  .story.card {

    .card-image {
      max-width: 140px;
      left: 27px;
      top: -66px;

      .type-img-mob {
        top: -37px;
      }

      .img-badge {

        &:nth-of-type(1) {

          .btn-floating {
            height: 35px;
            width: 35px;

            i {
              line-height: 35px;
              font-size: 1.5rem;
            }
          }
        }

        &:nth-of-type(2) {
          bottom: 41px;
          right: -12px;

          .btn-floating {
            height: 30px;
            width: 30px;

            i {
              line-height: 30px;
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    .person {
      left: 205px;
      top: 15px;

      .name {
        font-size: 1.85rem;
      }

      .city {
        font-size: .95rem;
        margin-top: .8rem;
      }
    }

    .title {
      margin-top: 83px;
      font-size: 1.5rem;
    }

    blockquote {
      margin-top: 1.5rem;
    }

    .tags {
      margin-top: 1.3rem;

      .chip {
        font-size: .78rem;
        height: 27px;
        line-height: 27px;
        padding: 0 10px;
      }
    }

    .read-btn {
      margin-top: .55rem;
    }
  }
}


@media only screen and (max-width: 470px) {

  .story.card {

    .person {
      position: static;
      margin-top: 2.85rem;
    }

    .card-image {
      max-width: 130px;
      left: 15px;
      top: -80px;

      .type-img-mob {
        top: 0;
        width: 80px;
        left: 160px;

        &.story-type {
          width: 100px;
          //right: -120px;
          top: 0;
        }
      }

      .img-badge {

        &:nth-of-type(1) {
          bottom: 4px;
          right: 10px;
        }
      }
    }

    .title {
      margin-top: .75rem;
      font-size: 1.35rem;
    }

    blockquote {
      font-size: 1.2rem;
    }

    .read-btn {
      font-size: .95rem;
      margin-top: .35rem;
    }
  }
}
