@import "0-plugins/0-plugins";
@import "1-helpers/1-helpers";
@import "2-base/2-base";
@import "3-modules/3-modules";
@import "4-other/4-other";


header {

}

.page-footer {
  padding-top: 0;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.mt0 {
  margin-top: 0;
}

.mb0 {
  margin-bottom: 0;
}

#contact {
  font-size: 1.15rem;

  .input-field + .input-field {
    margin-top: 2.2rem;
  }

  .signature {
    font-style: italic;
    margin-top: 1.7rem;
  }

  form {
    margin-top: 3.5rem;

    button {
      margin-top: 1rem;
    }
  }
}




#contact form {

  $c-input: #EC6F75;

  .input-field {

    input, textarea {

      &.valid, &:focus {
        border-bottom: 1px solid $c-input;
        box-shadow: 0 1px 0 0 $c-input;
      }

      &:focus + label {
        color: $c-input;
      }
    }

    .prefix.active {
      color: $c-input;
    }
  }
}

.form-col {
  margin-top: -4.8rem;
}



.nav-wrapper {
  text-transform: uppercase;

  a {
    color: #424242;
  }
}

body {
  background: #fafafa;
}


.tabs {

  .indicator {
    background-color: #1a237e;
  }

  .tab a:focus {

    &, &.active {
      background: transparent;
    }
  }
}


@media screen and (max-width: 670px){
  header {
    min-height: 500px;
  }
}

.contact-form {
  margin-top: 2.2rem;
}

.social {

  & + .social .btn-small {
    margin-left: 0px;
  }
}
